*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #555;
}